{% extends base_template %}
{% block title %}XTrans Home{% endblock %}
{% block content %}
<h2>XTrans Configuration</h2>
{% if edit %}
<form method="POST" action="/xtrans/config/submit">
{% else %}
<form method="POST" action="/xtrans/config/{{id}}/edit">
{% endif %}
  <table>
    {% for field in form %}
    <tr>
      <td>{{ field.label_tag }}</td>
      <td>{{ field }}</td>
    </tr>
    {% endfor %}
  </table>
    </br>
    <input type="submit" value="save to database" />
</form>
<p><a href="/xtrans/">Return to main menu.</a></p>
{% endblock %}
